<div id="lead">
    <div id="lead-over"></div>

    <section class="mostrar">
        <h2 class="centrar">Proyectos realizados</h2>
        <div class="contenedor">
            <div>
                <a href="https://gastonavram1.netlify.app/" target="_blank">
                    <h3>➪ <u>Mi primer portafolio</u> </h3>
                </a>
                <p> ¡Este es uno de mis primeros proyectos en desarrollar! <br> El mismo posee HTML, CSS, Bootstrap y
                    JavaScript.</p>
                <br>
            </div>

            <div>
                <a class="a_img" href="https://gastonavram1.netlify.app/" target="_blank">
                    <picture>
                        <source srcset="../../../assets/p-portfolio.avif" type="image/avif">
                        <source srcset="../../../assets/p-portfolio.webp" type="image/webp">
                        <img loading="lazy" width="200" height="300" src="../../../assets/p-portfolio.png" class="img-proyecto"
                            alt="imagen proyecto portafolio">
                    </picture>
                </a>
            </div>
        </div> <!--.PROYECTO-->


        <div class="contenedor">
            <div>
                <a href="https://gastonavram2.netlify.app/" target="_blank">
                    <h3>➪ <u>Proyecto: "Hack-Web"</u> </h3>
                </a>
                <p>Para este proyecto partí sobre una pequeña base y puse en práctica
                    los conocimientos adquiridos de Bootstrap, rediseñando y reestructurando el sitio web con una
                    temática totalmente diferente.</p>
                <br>
            </div>
            <div class="vertical">
                <a class="a_img" href="https://gastonavram2.netlify.app/" target="_blank">
                    <picture>
                        <source srcset="../../../assets/p-hackweb.avif" type="image/avif">
                        <source srcset="../../../assets/p-hackweb.webp" type="image/webp">
                        <img loading="lazy" width="200" height="300" src="../../../assets/p-hackweb.png" class="img-proyecto"
                            alt="imagen proyecto hack-web">
                    </picture>
                </a>
            </div>
        </div> <!--.PROYECTO-->
    </section>
</div>
