<div id="lead">
    <div id="lead-over"></div>

    <section class="mostrar">
        <h2 class="centrar">Educación</h2>
        <div class="contenedor">
            <ul>
                <li>
                    <h3><u>Instituto Superior Politécnico Córdoba</u></h3>
                    <h4 class="texto_secundario">- Tecnicatura Superior en Desarrollo Web<br>(2022-Actual)</h4>
                </li>
                <p style="color: #ff8200">• </p>
                <p>Diseñar, construir, programar e implementar aplicaciones para la Web con criterios de calidad y
                    seguridad
                </p><br>
                <p style="color: #ff8200">• </p>
                <p>Integrar las técnicas de trabajo, la información, la producción de códigos y reutilización de
                    códigos
                    existentes</p><br>
                <p style="color: #ff8200">• </p>
                <p>Desarrollar sitios web dinámicos con interacción con base de datos en servidores, y consumir
                    servicios
                </p><br>
                <p style="color: #ff8200">• </p>
                <p>Producir documentación técnica de los procesos y productos desarrollados de acuerdo con los
                    requerimientos funcionales y técnicos recibidos</p><br>
                <p style="color: #ff8200">• </p>
                <p>Planificar el proyecto en un contexto de desarrollo en equipo</p><br>
                <p style="color: #ff8200">• </p>
                <p>Desarrollar aplicaciones multiplataforma</p>
            </ul>

            <ul>
                <li>
                    <h3><u>Minist. de Desarrollo Productivo y CESSI</u></h3>
                    <h4 class="texto_secundario">- Desarrollador Web Full Stack con Java<br>(2021-2022)</h4>
                </li>
                <p style="color: #ff8200">• </p>
                <p>Metodologías ágiles, gestión de proyectos, uso de Github</p><br>
                <p style="color: #ff8200">• </p>
                <p>HTML, CSS y Javascript. Diseño de sitios web</p><br>
                <p style="color: #ff8200">• </p>
                <p>Angular</p><br>
                <p style="color: #ff8200">• </p>
                <p>Normalización e integridad para la persistencia de datos en aplicaciones</p><br>
                <p style="color: #ff8200">• </p>
                <p>Programación Orientada a Objetos - Buenas prácticas</p><br>
                <p style="color: #ff8200">• </p>
                <p>Java EE: JSP, Servlets, Sockets y conexión con base de datos</p><br>
                <p style="color: #ff8200">• </p>
                <p>Java Spring Boot: generar apps, conexión con base de datos y creación de APIs</p><br>
                <p style="color: #ff8200">• </p>
                <p>Dev Ops: operaciones de desarrollo, despliegue continuo, ciberseguridad y testing de software</p>
            </ul>

            <ul>
                <li>
                    <h3><u>Aprendizaje de forma autónoma </u></h3>
                    <h4 class="texto_secundario">- Cursos realizados <br>(2021-Actual)</h4>
                </li>
                <p style="color: #ff8200">• </p>
                <p>HTML5, CSS3, JS AJAX PHP y MySQL</p><br>
                <p style="color: #ff8200">• </p>
                <p>Universidad Java - Global Mentoring</p><br>
                <p style="color: #ff8200">• </p>
                <p>Hacking Ético Ofensivo: Red Team</p><br>
                <p style="color: #ff8200">• </p>
                <p>Ethical Hacker: Pentesting Web</p><br>
                <p style="color: #ff8200">• </p>
                <p>Uso de Kali Linux</p><br>
                <p style="color: #ff8200">• </p>
                <p>Administración Consola de Windows</p><br>
                <p style="color: #ff8200">• </p>
                <p>Master en JavaScript, jQuery y Angular</p><br>
                <p style="color: #ff8200">• </p>
                <p>HTML5, CSS3: Grid, Flexbox, Responsive</p><br>

                
            </ul>
        </div>
    </section>
</div>