<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<body>
    <nav>
        <ul>
            <li class="logo"></li>

            <li class="items" (click)="irsobre()"><span>Sobre mi</span></li>
            <li class="items" (click)="irexperiencia()"><span>Experiencia</span></li>
            <li class="items" (click)="ireducacion()"><span>Educación</span></li>
            <li class="items" (click)="irhabilidades()"><span>Habilidades</span></li>
            <li class="items" (click)="irproyectos()"><span>Proyectos</span></li>
            <li class="items" (click)="ircontacto()"><span>Contacto</span></li>
            <li class="btn"><span><i class="fas fa-bars"></i></span></li>

        </ul>
    </nav>
</body>