<div id="lead">
    <div id="lead-over"></div>
    <section class="mostrar">

        <!-- H A B I L I D A D E S   T E C N I C A S  -->
        <h2 class="centrar">Técnicas</h2>
        <div class="contenedor tecnicas">
            
            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'HTML'"
                [titleColor]="'#F4F4F4'"
                [titleFontWeight]="'600'"
                [titleFontSize]="'30'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#33D1D5'"
                [innerStrokeColor]="'#7C1BB2'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#1B6BB2'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>

            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'CSS'"
                [titleColor]="'#F4F4F4'"
                [titleFontWeight]="'600'"
                [titleFontSize]="'30'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#33D1D5'"
                [innerStrokeColor]="'#7C1BB2'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#1B6BB2'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>

            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'Bootstrap'"
                [titleColor]="'#F4F4F4'"
                [titleFontWeight]="'600'"
                [titleFontSize]="'30'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#33D1D5'"
                [innerStrokeColor]="'#7C1BB2'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#1B6BB2'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
                
            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'JavaScript'"
                [titleColor]="'#F4F4F4'"
                [titleFontWeight]="'600'"
                [titleFontSize]="'30'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#33D1D5'"
                [innerStrokeColor]="'#7C1BB2'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#1B6BB2'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
            
            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'TypeScript'"
                [titleColor]="'#F4F4F4'"
                [titleFontWeight]="'600'"
                [titleFontSize]="'30'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#33D1D5'"
                [innerStrokeColor]="'#7C1BB2'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#1B6BB2'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
            
            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'Angular'"
                [titleColor]="'#F4F4F4'"
                [titleFontWeight]="'600'"
                [titleFontSize]="'30'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#33D1D5'"
                [innerStrokeColor]="'#7C1BB2'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#1B6BB2'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>

            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'Java'"
                [titleColor]="'#F4F4F4'"
                [titleFontWeight]="'600'"
                [titleFontSize]="'30'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#1B6BB2'"
                [innerStrokeColor]="'#7C1BB2'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#33D1D5'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
            
            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'MySQL'"
                [titleColor]="'#F4F4F4'"
                [titleFontWeight]="'600'"
                [titleFontSize]="'30'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#1B6BB2'"
                [innerStrokeColor]="'#7C1BB2'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#33D1D5'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
            
            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'Spring'"
                [titleColor]="'#F4F4F4'"
                [titleFontWeight]="'600'"
                [titleFontSize]="'30'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#1B6BB2'"
                [innerStrokeColor]="'#7C1BB2'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#33D1D5'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>

            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'PHP'"
                [titleColor]="'#F4F4F4'"
                [titleFontWeight]="'600'"
                [titleFontSize]="'30'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#1B6BB2'"
                [innerStrokeColor]="'#7C1BB2'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#33D1D5'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
            
            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'Git'"
                [titleColor]="'#F4F4F4'"
                [titleFontWeight]="'600'"
                [titleFontSize]="'30'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#1B6BB2'"
                [innerStrokeColor]="'#7C1BB2'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#33D1D5'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
            
            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'GitHub'"
                [titleColor]="'#F4F4F4'"
                [titleFontWeight]="'600'"
                [titleFontSize]="'30'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#1B6BB2'"
                [innerStrokeColor]="'#7C1BB2'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#33D1D5'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>

        <!-- H A B I L I D A D E S   P E R S O N A L E S  -->
        <h2 class="centrar centrar_dos">personales</h2>
        <div class="contenedor personales">
            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'Trabajo grupal'"
                [titleColor]="'#ff8200'"
                [titleFontSize]="'24'"
                [showUnits]="false"
                [unitsColor]="'#ff8200'"
                [unitsFontSize]="''"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#7C1BB2'"
                [innerStrokeColor]="'#ff8200'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#ff8200'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>

            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'Responsabilidad'"
                [titleColor]="'#ff8200'"
                [titleFontSize]="'23'"
                [showUnits]="false"
                [unitsColor]="'#ff8200'"
                [unitsFontSize]="''"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#7C1BB2'"
                [innerStrokeColor]="'#ff8200'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#ff8200'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>

            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'Comunicación'"
                [titleColor]="'#ff8200'"
                [titleFontSize]="'24'"
                [showUnits]="false"
                [unitsColor]="'#ff8200'"
                [unitsFontSize]="''"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#7C1BB2'"
                [innerStrokeColor]="'#ff8200'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#ff8200'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>

            <circle-progress
                [percent]="150"
                [maxPercent]="150"
                [radius]="100"
                [title]="'Adaptación'"
                [titleColor]="'#ff8200'"
                [titleFontSize]="'24'"
                [showUnits]="false"
                [unitsColor]="'#ff8200'"
                [unitsFontSize]="''"
                [showSubtitle]="false"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#7C1BB2'"
                [innerStrokeColor]="'#ff8200'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#ff8200'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
    </section>
</div>