<section class="mostrar">
  <h2 class="centrar">Contacto</h2>

  <div class="contenedor">
    <section class="seccion_uno" id="contact-form">
      <h3>Enviame un correo:</h3>
      <form
        method="POST"
        action="https://formsubmit.co/gastonavram39@gmail.com"
        class="centrar_form"
      >
        <input type="email" name="email" placeholder="Tu email" required />
        <textarea name="message" placeholder="Tu mensaje" required></textarea>
        <button type="submit">Enviar</button>
      </form>
    </section>

    <section class="seccion_dos">
      <h3>Mis redes sociales:</h3>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/gastonavram/" target="_blank">
            <picture>
              <source
                loading="lazy"
                srcset="../../../assets/c-linkedin.avif"
                type="image/avif"
              />
              <source
                loading="lazy"
                srcset="../../../assets/c-linkedin.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                width="200"
                height="300"
                src="../../../assets/c-linkedin.png"
                class="imgsocial"
                alt="icono linkedin"
              />
            </picture>
            <span class="span" style="color: #ff8200">&emsp;➪&emsp;</span>
            <u>Linkedin</u>
          </a>
        </li>
        <li>
          <a href="https://github.com/gastonavram" target="_blank">
            <picture>
              <source
                loading="lazy"
                srcset="../../../assets/c-github.avif"
                type="image/avif"
              />
              <source
                loading="lazy"
                srcset="../../../assets/c-github.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                width="200"
                height="300"
                src="../../../assets/c-github.png"
                class="imgsocial"
                alt="icono github"
              />
            </picture>
            <span class="span" style="color: #ff8200">&emsp;➪&emsp;</span>
            <u>GitHub</u>
          </a>
        </li>
      </ul>
    </section>
  </div>

  <footer>
    <p>&copy; Gaston Ezequiel Avram</p>
    <p>Córdoba, Argentina</p>
  </footer>
</section>
