<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<body>
  <nav>
    <ul class="font-nav">
      <li class="logo"></li>

      <li class="items"><a href="#racerca">Sobre mi</a></li>
      <li class="items"><a href="#rexperiencia">Experiencia</a></li>
      <li class="items"><a href="#reducacion">Educación</a></li>
      <li class="items"><a href="#rhabilidades">Habilidades</a></li>
      <li class="items"><a href="#rproyectos">Proyectos</a></li>
      <li class="items"><a href="#rcontacto">Contacto</a></li>
      <li class="btn">
        <span class="material-symbols-outlined">Menu</span>
      </li>
    </ul>
  </nav>
</body>


<app-acerca-de id="racerca"></app-acerca-de>
<app-experiencia id="rexperiencia"></app-experiencia>
<app-educacion id="reducacion"></app-educacion>
<app-habilidades id="rhabilidades"></app-habilidades>
<app-proyectos id="rproyectos"></app-proyectos>
<app-contacto id="rcontacto"></app-contacto>