<div class="mostrar contenedor">
  <div>
    <picture>
      <source loading="eager" srcset="../../../assets/perfilphoto.avif" type="image/avif" />
      <source loading="eager" srcset="../../../assets/perfilphoto.webp" type="image/webp" />
      <img loading="eager"
        width="200"
        height="300"
        src="../../../assets/perfilphoto.jpeg"
        id="fotoperfil"
        alt="imagen de perfil"
      />
    </picture>
  </div>

  <div>
    <h1 class="nombre">Gastón Ezequiel Avram</h1>
  </div>
  <div class="divsub">
    <p class="subtitulo">Full Stack Developer</p>
  </div>
</div>
<div class="mostrar divacerca">
  <h2 class="h2acerca"><br />Acerca de mi</h2>
  <p>
    <span>¡Programador autodidacta y muy curioso!</span>
    <br />Siempre estoy perfeccionándome y aprendiendo nuevas habilidades.
    Cuento con facilidad de adaptación y capacidad para trabajar en equipo.
    También soy responsable y comprometido asi que todo el tiempo estoy
    brindando lo mejor de mí.
  </p>
</div>
