:root{
    --naranja: #ff8200;
    --naranjaOscuro: #e77600;
    --gris: #d6d6d6;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
div,
p {
    color: var(--gris);
}

h1 {
    font-size: 8rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 4.8rem;
    text-transform: uppercase;
    text-decoration: underline;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.4rem;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.contenedor {
    max-width: 180rem;
    width: 90%;
    margin: 0 auto;
}

p {
    font-size: 2.56rem;
    margin-block-end: 0px;
}

.mostrar {
    position: relative;
    z-index: 10;
}

.centrar{
    text-align: center;
}

/*IMAGEN DE FONDO*/
#lead {
    position: relative;
    min-height: 100vh;
    background: url(../src/assets/fondo.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#lead-over {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 60%); /*64%*/
    z-index: 1;
}

/*MediaQueries Circle-Progress*/
svg {
  display: block;
  height: auto;
  width: 22rem;
}

@media (max-width: 804px) {
  svg {
    width: 19rem;
  }
}

@media (max-width: 450px) {
  svg {
    width: 17rem;
  }
}

@media (max-width: 399px) {
  svg {
    width: 15rem;
  }
}

@media (max-width: 355px) {
  svg {
    width: 13rem;
  }
}